beautifulsoup4==4.11.1
elastic-transport==8.1.2
elasticsearch==7.9.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entmax==1.1
jsonlines==3.1.0
latex2mathml==3.74.0
lxml==4.9.1
nltk==3.8.1
numpy==1.23.2
pandas==1.4.3
Pillow==9.2.0
requests==2.31.0
spacy==3.4.1